/* Main CSS file */

@import '_example/_example.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

.alert {
  font-weight: 900;
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

.bold {
  font-weight: 900;
}

h2 {
  font-size: 1rem;
}

a {
  color: #00a1e4;
}

a:hover {
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

.vax-location:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
