/* Main CSS file */

@import '_example/_example.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-weight: 900;
  font-size: 3.5rem;
  margin: 0rem;
}

h2 {
  font-size: 1rem;
}

a {
  color: #04e762;
}

a:hover {
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

.alert {
  font-weight: 900;
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

.alert:hover {
  text-shadow: 1px 1px #89fc00;
}

.bold {
  font-weight: 900;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vax-location {
  margin: 0.25rem 0rem 0.25rem 0rem;
}

.vax-name {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.external-link:hover {
  cursor: pointer;
  color: darkolivegreen;
  text-shadow: 1px 1px #04e762;
}

.location {
  margin: 0.5rem 0rem 0.5rem 0rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.updated-at {
  font-size: 0.8rem;
  color: slategray;
}

.address {
  font-size: 0.8rem;
  color: slategray;
  margin-bottom: 0.5rem;
}

.appointments {
  margin-left: 2rem;
  color: black;
  font-size: 0.9rem;
}

.appointment {
  font-size: 0.9rem;
  color: slategray;
}

#vax-list {
  margin: 2rem 2rem 0rem 2rem;
  align-items: stretch;
}

#appointments-num {
  padding: 1rem;
  border: 2px solid #04e762;
  border-radius: 80px;
}

#header {
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid hotpink;
  border-radius: 80px;
}

#number-apts {
  font-weight: 900;
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

#how-to-button {
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#how-to-button:hover {
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

#info {
  color: black;
  font-size: 0.9rem;
}

#info li {
  font-size: 0.9rem;
  margin: 0rem 1.5rem 1rem 1.5rem;
}

#nyc-vaccine:hover {
  color: hotpink;
  text-shadow: 1px 1px lightpink;
}

#copyright {
  margin-left: 2rem;
}

#copyright * {
  font-size: 0.7rem;
  color: slategray;
}
